
/* mise en page index */


/*  backgrount index  */

body {
    
    background-color: #ffffff; 

}

#titrage{
  
    width: 400px;
    background-color: #ffffff;

}

#navBarre{

    background-color: rgb(255, 255, 255);
    margin-left: 0px;
    width: 1920px;
   
}

/* Police titrage   */


h1{
    font-size: 50px;
    color: black;

}

h2{
    font-size: 20px;
    color: red;
    

}

h3{

    font-size: 35px;
    color: black;


}

/*FOOTER*/

.footer {

    background-color: black;

}



.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 70px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 70px;
  color: red;
}


.carousel-indicators .active {
   
    background-color: #ff0000;
}