



/*  backgrount index  */

body {
    
    background-color: #ffffff; 

}

#navBarre{

    background-color: rgb(255, 255, 255);
   
}


/* Police titrage   */




/*FOOTER*/

.footer {

    background-color: black;

}



