
/* mise en page index */


/*  backgrount index  */

body {
    
        color:black;
        background-color:white;
        background-image:url("../images/Sans\ titre-3.png");
        background-repeat:no-repeat;
        background-position:center center;
       }

#navBarre{
    
    background-color: rgb(255, 255, 255);
   
}

/* Police titrage   */

h1{
    font-size: 20px;
    color: rgb(255, 255, 255);

}



hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-style: solid none;
    border-width: 0px 0;
    
  }

 

/*FOOTER*/

.footer {

    background-color: black;

}



